body {
  background-color: #A3C6C4;
 font-family: 'Righteous', cursive;
color: #354649;  
}

.menu {
	text-align: right;
	width: auto;
	background-color: #354649;
	
}
.menu a:hover { 
color: #A3C6C4;
}

h1 {
font-family: 'Righteous', cursive; 
font-style: bold;
  position: absolute;
  top: 110px;
  left: 636px;
  font-size: 50px;
  color: #354649;
   
}

#homeparagraph {
font-style: regular;
position: absolute;
top: 195px;
left: 636px;
font-size: 18px;
}

    .button {
  display: block;
  position: absolute;
 top: 342px;
 left: 636px;
  background-color: #354649;
  color: #A3C6C4;
  border: none;
  padding: 14px 69px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 9999;
  font-family: inherit;
}
 .button:hover {
 background-color:#000000;
  color: #FFFFFF;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
 .button1 {
  display: block;
  position: absolute;
 top: 2910px;
 left: 603px;
  background-color: #354649;
  color: #A3C6C4;
  border: none;
  padding: 14px 69px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 9999;
  font-family: inherit;
}
 .button1:hover {
 background-color:#000000;
  color: #FFFFFF;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.button2{
  display: block;
  position: absolute;
 top: 3342px;
 left: 603px;
  background-color: #354649;
  color: #A3C6C4;
  border: none;
  padding: 14px 69px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 9999;
  font-family: inherit;
}
 .button2:hover {
 background-color:#000000;
  color: #FFFFFF;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
    .button3 {
  display: block;
  position: absolute;
 top: 383px;
 left: 636px;
  background-color: #A3C6C4;
  color: #354649;
  border: none;
  padding: 14px 69px;
  font-size: 23px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 9999;
  font-family: inherit;
  transition: transform 0.3s ease;
}
 .button3:hover {
  background-color:#FFFFFF;
  color: #000000;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header {
  font-family: 'Righteous', cursive;
  background-color: #354649;
}

ul {
  list-style-type: none;
  margin: 0px 0px -49px 500px;
  padding: 0px;
}

li {
  float: left;
  color: blue
  padding: 0 10px 0 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  position: relative;
  top: -22px;
  left: 171px;
  padding: 14px 16px;
  text-decoration: none;
 
}
.portraits {
	position: absolute;
	top: -32px;
	left:0px;
}
.landscape {
	position: absolute;
	top: -32px;
	left:0px;
}
.wave {
	position: absolute;
	z-index: 99999;
	top: 402px;
	
}

.home1 {
        float: right;
    }
	
	.p-before {
		position: absolute;
		top: 723px;
		left: 277px;
	}
	
	.l-before {
		position: absolute;
		top: 723px;
		left: 722px;
		transition: transform 0.5s;
		
	}
	

	

header h2 {
  color: #fff;
  margin: 0;
  padding: 40px;
}
footer {
  background-color: #A3C6C4;
  padding: 40px;
}
footer p {
  color: #A3C6C4;
  margin: 0;
}

#container {
  width: 1100px;
  margin: 0 auto;
}


.one-column {
  position: relative;
  position: absolute;
  top: 1000px;
  left: 200px;
  font-family: 'Righteous', cursive; 
  font-style: bold;
  font-size: 40px;
  color: #354649;
  
  
}
.three-column1 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column1 div {
  background-color: #A3C6C4;
}

.three-column2 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; 
}

.three-column2 div {
  background-color: #A3C6C4;
}
.three-column3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column3 div {
  background-color: #A3C6C4;
}
.three-column4 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column4 div {
  background-color: #A3C6C4;
}
.three-column5 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column5 div {
  background-color: #A3C6C4;
}
.three-column6 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column6 div {
  background-color: #A3C6C4;
}
.three-column7 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column7 div {
  background-color: #A3C6C4;
}
.three-column8 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column8 div {
  background-color: #A3C6C4;
}
.three-column9 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column9 div {
  background-color: #A3C6C4;
}
.three-column10 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column10 div {
  background-color: #A3C6C4;
}
.three-column11 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column11 div {
  background-color: #A3C6C4;
}
.three-column12 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column12 div {
  background-color: #A3C6C4;
}
.three-column13 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #A3C6C4;
  grid-gap: 10px; /
}

.three-column13 div {
  background-color: #A3C6C4;
}
}
.two-column div {
  margin-right: 10px;
  margin-left: 10px;
  background-color: #A3C6C4;
}
.l-before {
  transition: transform 0.2s ease-in-out;
}

.l-before:hover {
  transform: scale(1.1);
}
.p-before {
  transition: transform 0.2s ease-in-out;
}

.p-before:hover {
  transform: scale(1.1);
}
.three-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  background-color: #A3C6C4;
}

.three-column div {
  background-color: #A3C6C4;
  margin-righ: 10px;
  margin-left: 10px;
}
  footer {
	
    background-color: #354649;
    padding: 10px;
	color: #A3C6C4;
    font-size: 14px;
    text-align: center;
  }
   form {
  width: 568px;
  padding: 34px;
  border-radius: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form h3 {
  margin-top: 0;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #A3C6C4;
}

form .name-group {
  display: flex;
  gap: 10px;
}

form .name-group input {
  flex: 1;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: inherit;
}

form button {
  margin-left: -433px;
  top: 385px;
  padding: 10px 74px;
  background-color: #A3C6C4;
  color: #354649;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}